# ML Challenge

<img src="https://imageio.forbes.com/specials-images/imageserve/5ecd179f798e4c00060d2c7c/0x0.jpg?format=jpg&height=600&width=1200&fit=bounds" width="500" height="300">

In the bustling city of Financia, the Central Lending Institution (CLI) is the largest provider of loans to individuals and businesses. With a mission to support economic growth and financial stability, CLI processes thousands of loan applications every month. However, the traditional manual review process is time-consuming and prone to human error, leading to delays and inconsistencies in loan approvals.
To address these challenges, CLI has decided to leverage the power of machine learning to streamline their loan approval process. They have compiled a comprehensive dataset containing historical loan application records, including various factors such as credit scores, income levels, employment status, loan terms(measured in years), loan amounts, asset values, and the final loan status (approved or denied).


**Your task is to develop a predictive model that can accurately determine the likelihood of loan approval based on the provided features. By doing so, you will help CLI make faster, more accurate, and fairer lending decisions, ultimately contributing to the financial well-being of the community.**

It is recommended that you follow the typical machine learning workflow, though you are not required to strictly follow each steps:
1. Data Collection: Gather the data you need for your model. (Already done for you)

2. Data Preprocessing: Clean and prepare the data for analysis. (Already done for you)

3. Exploratory Data Analysis (EDA): Understand the data and its patterns. (Partially done for you)

4. Feature Engineering: Create new features or modify existing ones to improve model performance. (Partially done for you)

5. Model Selection: Choose the appropriate machine learning algorithm.

6. Model Training: Train the model using the training dataset.

7. Model Evaluation: Evaluate the model's performance using a validation dataset.

8. Model Optimization: Optimize the model's parameters to improve performance.

9. Model Testing: Test the final model on a separate test dataset.

**Please include ALL your work and thought process in this notebook**

In [1]:
# You may include any package you deem fit. We sugggest looking into Scikit-learn
import pandas as pd

## Dataset

In [5]:
# DO NOT MODIFY
loan_data = pd.read_csv("loan_approval.csv")

## EDA
Uncomment to see desired output. Add more analysis if you like

In [27]:

import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV


# ------ Display basic information ------
print(loan_data.columns)
print(loan_data.describe())

# ------ Check for missing values ------
# print(loan_data.isnull().sum())

# ------ Visualize the distribution of loan status ------
# loan_status_counts = loan_data['loan_status'].value_counts()
# plt.bar(loan_status_counts.index, loan_status_counts.values)
# plt.title('Distribution of Loan Status')
# plt.xlabel('Loan Status')
# plt.ylabel('Count')

# ------ Visualize the distribution of numerical features ------
# loan_data.hist(bins=30, figsize=(20, 15))

# ------ Correlation matrix ------
# corr_matrix = loan_data.corr()
# fig, ax = plt.subplots(figsize=(10, 8))
# cax = ax.matshow(corr_matrix, cmap='coolwarm')
# fig.colorbar(cax)
# plt.xticks(range(len(corr_matrix.columns)), corr_matrix.columns, rotation=90)
# plt.yticks(range(len(corr_matrix.columns)), corr_matrix.columns)

# ----- MORE (Encouraged but not required) ------
# TODO

Index(['loan_id', 'no_of_dependents', 'education', 'self_employed',
       'income_annum', 'loan_amount', 'loan_term', 'cibil_score',
       'residential_assets_value', 'commercial_assets_value',
       'luxury_assets_value', 'bank_asset_value', 'loan_status'],
      dtype='object')
           loan_id  no_of_dependents    education  self_employed  \
count  4269.000000       4269.000000  4269.000000    4269.000000
mean   2135.000000          2.498712     0.502225       0.503631
std    1232.498479          1.695910     0.500054       0.500045
min       1.000000          0.000000     0.000000       0.000000
25%    1068.000000          1.000000     0.000000       0.000000
50%    2135.000000          3.000000     1.000000       1.000000
75%    3202.000000          4.000000     1.000000       1.000000
max    4269.000000          5.000000     1.000000       1.000000

       income_annum   loan_amount    loan_term  cibil_score  \
count  4.269000e+03  4.269000e+03  4269.000000  4269.000000
mean   5.059124e+06  1.513345e+07    10.900445   599.936051
std    2.806840e+06  9.043363e+06     5.709187   172.430401
min    2.000000e+05  3.000000e+05     2.000000   300.000000
25%    2.700000e+06  7.700000e+06     6.000000   453.000000
50%    5.100000e+06  1.450000e+07    10.000000   600.000000
75%    7.500000e+06  2.150000e+07    16.000000   748.000000
max    9.900000e+06  3.950000e+07    20.000000   900.000000

       residential_assets_value  commercial_assets_value  luxury_assets_value  \
count              4.269000e+03             4.269000e+03         4.269000e+03
mean               7.472617e+06             4.973155e+06         1.512631e+07
std                6.503637e+06             4.388966e+06         9.103754e+06
min               -1.000000e+05             0.000000e+00         3.000000e+05
25%                2.200000e+06             1.300000e+06         7.500000e+06
50%                5.600000e+06             3.700000e+06         1.460000e+07
75%                1.130000e+07             7.600000e+06         2.170000e+07
max                2.910000e+07             1.940000e+07         3.920000e+07

       bank_asset_value  loan_status
count      4.269000e+03  4269.000000
mean       4.976692e+06     0.622160
std        3.250185e+06     0.484904
min        0.000000e+00     0.000000
25%        2.300000e+06     0.000000
50%        4.600000e+06     1.000000
75%        7.100000e+06     1.000000
max        1.470000e+07     1.000000

## Feature Engineering

You may want to convert categorical variables to numerical. For example, education takes on the value Graduate and Not Graduate. But we want it to be 0 or 1 for machine learning algorithms to use.

In [28]:
loan_data['education'] = loan_data['education'].map({'Graduate': 1, 'Not Graduate': 0})
# Hint: Other categorical variables are self_employed and loan_status
# TODO

# 1. Reload the data just to be safe (resets everything to original text)
loan_data = pd.read_csv("loan_approval.csv")

# 2. Convert 'education'
loan_data['education'] = loan_data['education'].map({'Graduate': 1, 'Not Graduate': 0})

# 3. Convert 'self_employed'
loan_data['self_employed'] = loan_data['self_employed'].map({'Yes': 1, 'No': 0})

# 4. Convert 'loan_status'
# We use .str.strip() to handle any hidden spaces in " Approved " or " Rejected "
loan_data['loan_status'] = loan_data['loan_status'].str.strip().map({'Approved': 1, 'Rejected': 0})

# 5. Check the result
loan_data.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,1,0,9600000,29900000,12,778,2400000,17600000,22700000,8000000,1
1,2,0,0,1,4100000,12200000,8,417,2700000,2200000,8800000,3300000,0
2,3,3,1,0,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0
3,4,3,1,0,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0
4,5,5,0,1,9800000,24200000,20,382,12400000,8200000,29400000,5000000,0

## Model Selection

You are free to use any classification machine learning models you like: Logistic Regression, Decision Trees/Random Forests, Support Vector Machines, KNN ...

In [29]:
# TODO


# Again same start with tutorial and checkpoint 1, we start examining the correlation between x and y.
# in this case x is the input, and y is the loan answer / status
X = loan_data.drop(columns=['loan_id', 'loan_status'])
y = loan_data['loan_status']

# and i am going to do 80% studying (training), and 20% testing this time
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

# Initialize the Random Forest model
model = RandomForestClassifier(random_state=2)

## Model Training and Evaluation

In [31]:
from sklearn.metrics import accuracy_score, classification_report
#imported some fancy stuff from the python machine learning library

# First I am going to fit it
model.fit(X_train, y_train)

#Using the predict function of google colab
y_pred = model.predict(X_test)

# return a number for th accuracy score
print("Accuracy Score:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy Score: 0.9847775175644028

Classification Report:
               precision    recall  f1-score   support

           0       0.98      0.98      0.98       324
           1       0.99      0.99      0.99       530

    accuracy                           0.98       854
   macro avg       0.98      0.98      0.98       854
weighted avg       0.98      0.98      0.98       854

## Model Optimization and Testing

In [32]:


# lets say 3 settings for the "trees"
param_grid = {'n_estimators': [50, 100, 200]}

grid_search = GridSearchCV(RandomForestClassifier(random_state=42), param_grid, cv=3)
grid_search.fit(X_train, y_train)

# Print all the stuff out
print("Best Number of Trees:", grid_search.best_params_)
print("Best Accuracy:", grid_search.best_score_)

#And the accuracy is pretty good using those parameters, which is about 97.7%

Best Number of Trees: {'n_estimators': 100}
Best Accuracy: 0.9762821373335946